body {
    background-color: #f48787;
    color: #600d10; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

header h1 {
    color: #15387c; 
}

#first {
    color:#f5f3ee;
}
.school {
    color:aquamarine;
    font-weight: bold;

}